.container {
  list-style: none;
  padding: 0;
}

.anchor {
  width: 100%;
  height: 100%;
  display: flex;
}

.aboutBook {
  width: 100%;
  margin-left: 3rem;
}

.thumbnail {
  width: 7.5rem;
}

.title {
  font-size: 1.6rem;
}
